$gray: #191b1f;
$bg-hover: #526077;
$color-hover: #fff;

.menu-item {
  color: $gray;
  padding: 10px;
  font-size: 18px;
  &:hover {
    background: $bg-hover;
    color: $color-hover;
    cursor: pointer;
  }
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 14px;
  }
}
